---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="testimonials" style="margin-top: 50px;">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Case Studies
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-2 gap-8 space-y-8">
      <div class="aspect-auto p-6 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <h4 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Marketing Automation SaaS for Enterprise Brands in the US</h3>
          <div>
            <table style="width: 100%; margin: 15px 0 0 0">
              <tr>
                <td style="width: 100px; padding: 0 0 10px 0px;"><b>Before Crux</b></td>
                <td style="padding: 0 0 10px 10px;">Struggled with 250+ ad-hoc reporting requests per account	</td>
              </tr>
              <tr>
                <td style="padding: 10px 0 0 0px;"><b>After Crux</b></td>
                <td style="padding: 10px 0 0 10px;">Saving 80h+ bandwidth of CSMs, PMs, and engineers	</td>
              </tr>
            </table>
          </div>
      </div>
      <div class="aspect-auto p-6 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div>
          <h4 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Operations Management SaaS for Pharma Manufacturers</h3>
          <table style="width: 100%; margin: 15px 0 0 0">
            <tr>
              <td style="width: 100px; padding: 0 0 10px 0px;"><b>Before Crux</b></td>
              <td style="padding: 0 0 10px 10px;">High spends on Quicksight and ~72h TAT on custom reports</td>
            </tr>
            <tr>
              <td style="padding: 10px 0 0 0px;"><b>After Crux</b></td>
              <td style="padding: 10px 0 0 10px;">Creating upsell opportunities from a prominent account	</td>
            </tr>
          </table>
        </div>
      </div>

    </div>
    <style>
      table {
          border-collapse: collapse;
          border-style: hidden;
      }

      table td, table th {
          border: 1px solid rgb(233 233 236);
      }
    </style>
  </Container>
</div>